@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Freeman&display=swap');

.sectionThree-container{
    background: #393E46;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.sectionThree-text {
    padding: 60px;
    max-width: 800px;
    width: 100%;
    font-size: 32px;
    color:whitesmoke;
    text-shadow: 1px 1px 2px #31363f;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.slider {
    background-color: #393E46;
    width: 100%;
    overflow: hidden; /* Esconde slides que ultrapassam a largura */
}

.slide-track {
    align-items: center;
    display: flex; /* Alinha slides na horizontal */
    transition: transform 0s ease-in-out; /* Desativa a transição para reposicionamento inicial */
}

.slide {
    flex: 0 0 300px; /* Define a largura de cada slide */
}

.slide:last-child {
    margin-right: 0; /* Remove o espaçamento à direita do último slide */
}

.slide-track {
    animation: slide 8s infinite linear; /* Animação de 4 segundos, repetindo infinitamente */
}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); } /* Added keyframe at 25% */
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); } /* Added keyframe at 75% */
    100% { transform: translateX(-400%); } /* Increased translation amount */
    101% { transform: translateX(-300%); }
}

/* Estilos adicionais para o fim da animação */
@keyframes slide {
    100% { transform: translateX(-200%); } /* Move para a direita, escondendo a última */
    101% { transform: translateX(-100%); } /* Imediatamente volta para o último slide */
}
