@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Freeman&display=swap');

root{
    margin: 0;
    padding: 0;
}

.sectionFour{
    background-color: #222831;
    background-image: linear-gradient(to bottom, #051937, #0d1d36, #142134, #1b2433, #222831);
}

.sectionFour-container{
    height: 100%;
    width: 100%;
    display: flex;
}
.sectionFour-text{
    padding: 5%;
    position: relative; /* Enables positioning of child elements */
    max-width: 1200px;
    text-shadow: 1px 1px 2px #222831;
    border-radius: 25px;
    height: 50%;
}

.sectionFour-text-imgs{
    width: 40%;
    height: 40%;
    animation: float 3s ease-in-out infinite;
    
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.sectionFour-text-paragraph{
    opacity: 0.7; /* Initial transparency */
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: white;
    
}

@media screen and (min-width: 300px) and (max-width: 1200px) {
    .sectionFour-container {
      display: flex;
      flex-direction: column;
    }
    .sectionFour-img{
        width: 50%;
        height: 50%;
        border-radius: 25px;
    }
    .sectionFour-text-paragraph{
        font-size: 24px;
    }
  }

.item-1, 
.item-2, 
.item-3{
display: block;
  

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}