
.section-two{
  position: relative;
}
.section-two-text-p{
  background-image: url('../../public/images/311aba685a7b220975b8086dea9d2896.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;

}
.section-two-p{
  margin-left: 15%;
    color:rgb(209, 223, 236);
    font-size: 120px;
    text-shadow: rgb(39, 39, 39) 1px 0 10px;
    max-width: 100%;
    font-family: 'Jurassic Park', sans-serif;
}
body,html  {
  width: 100%;
}

.scroll-downs {
  position: absolute;
  bottom: 10%;
  right: 10%;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  box-sizing: content-box;
}
p{
    color: #fff;
    font-size: 20px;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}